*{
    box-sizing: border-box;
}

html, body{
    padding:0;
    margin:0;
}

body{
    font-family: 'Press Start 2P', cursive;
    background: black;  
}



.blade{
    padding:15px;
    width:100%;
    display:flex;
}

#game{
    max-width:800px;
    width:100%;
    margin:33px auto;
    padding:15px;
    background:white;
}

#score_and_timer {
    justify-content: space-between;
    padding:15px;
}

#gamefield {
    background-image:url("images/whos_that_pokemon.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding-top:75%;    
    position:relative;
}

#game-over{
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    padding:15px;
    background:black;
    color:white;
    text-align:center;
    display:none; /* removes the game over while it doesn't need to be displayed */
}

#pokemon{
    position:absolute;
    top:50%;
    left:0;
    width:50%;
    transform:translateY(-50%);
}

#pokemon-image{
    max-width:100%;
    filter:contrast(0) brightness(0%);
    transition:all 0.5;
}

#pokemon-name{
    text-align:center;
    text-transform: capitalize;
    display:none;
}


#controls{
    justify-content: center;
    padding: 15px;
}

#after_start{
    display:none;
}

.active{
    display:block !important;
}